.homePageMainParent {
  height: 90vh;
  width: 100vw;
  background-color: beige;
}

.homePageContainer {
  width: 100%;
  height: 100%;
}

.homePageRow {
  width: 100%;
  height: 100%;
}

.homePageColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.homePageHeader {
  background: -webkit-linear-gradient(#0e9eff, #d55de8, #fe9915) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

.homePageHeaderParent,
.homePageTextParent {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background: -webkit-linear-gradient(#0e9eff, #d55de8, #fe9915) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

@keyframes homePageFadeEffect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Applying the animation to an element */
.homePageColumn {
  animation: homePageFadeEffect 1.5s ease-in-out;
}
