.loginPageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* max-width: 450px; */
}

.loginPageMainParent {
  min-height: 100vh;
  min-width: 100vw;
  background-color: beige;
}

.loginPage {
  box-shadow: 4px 4px 10px;
  border-radius: 7px;
  min-width: 290px;
  padding: 0 !important;
  max-width: 450px;
  background-color: white;
}

.loginPage:hover {
  box-shadow: 7px 7px 15px black;
  transition: 0.35s;
  transform: scale(1.05, 1.05);
}

.headerContainer {
  height: 11vh;
  min-height: 70px;
  border-radius: 7px 7px 0 0;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}

.header {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.textHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loginBtn {
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.25rem;
  padding: 5px;
  width: 45%;
}

.loginBtn:hover {
  box-shadow: 5px 5px 10px black;
  transition: 0.35s;
  transform: scale(1.07, 1.07);
}

.loginPageform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 5%;
  padding: 10px;
  justify-content: center;
}

/* keyframes */
@keyframes bounce {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.loginPage {
  animation: bounce 1s ease-in-out;
}

@media (min-width: 500px) and (max-width: 1600px) {
  .loginPage {
    min-width: 425px;
    max-width: 425px;
  }
}

@media (min-width: 250px) and (max-width: 499px) {
  .loginPageform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
    margin-top: 5%;
    padding: 10px;
    justify-content: center;
  }
}
