.loginPageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* max-width: 450px; */
}

.loginPageMainParent {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to right, #5157ce, #ae51c3) !important;

}

.loginPage {
  box-shadow: 4px 4px 10px;
  border-radius: 7px;
  min-width: 290px;
  padding: 0 !important;
  max-width: 450px;
  background-color: white;
}

.headerContainer {
  height: 14vh;
  min-height: 70px;
  border-radius: 7px 7px 0 0;
  background-image: linear-gradient(to right, #5157ce, #ae51c3) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}

.header {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.textHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loginBtn {
  background-image: linear-gradient(to right, #5157ce, #ae51c3) !important;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.25rem;
  padding: 5px;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 5%;
  padding: 10px;
  justify-content: center;
  /* style={{ display: "flex", flexDirection: "column", gap: "5px", marginTop: "5%", padding: "10px", maxWidth: "360px", justifyContent: "center" }} */
}
