.NavbarBrand {
  font-family: "Product sans";
  font-weight: bolder;
  font-size: 1.75rem !important;

  background: -webkit-linear-gradient(#0e9eff, #d55de8, #fe9915) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

.NavBar {
  box-shadow: 3px 3px 5px;
  border-radius: 7px;
}

.searchBar {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 250px;
  border-width: 3px !important;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

.searchIcon {
  cursor: pointer;
}

.searchBarContainer {
  display: flex;
  align-items: center;
}

.NavLink {
  background: -webkit-linear-gradient(#0e9eff, #d55de8, #fe9915) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  font-weight: bold !important;
  padding: 3px !important;
  border: 3px solid transparent;
  transition: border-color 0.3s ease, border-radius 0.3s ease; /* Added border-color transition */
  border-radius: 7px; /* Will transition smoothly now */
}

.NavLink:hover {
  border-color: darkblue;
  /* background-image: linear-gradient(to right, darkblue, darkorchid) !important; */
}

.NavbarForItems {
  display: flex;
  justify-content: center;
  gap: 9%;
  cursor: pointer;
}

/* .navBarforSearchBar {
  display: flex !important;
  justify-content: center !important;
} */

.NavBarLinks {
  text-decoration: none;
  background: -webkit-linear-gradient(#0e9eff, #d55de8, #fe9915) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  font-weight: 550 !important;
}

.profileHedaerParent {
  background: -webkit-linear-gradient(#0e9eff, #d55de8) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;

  border: 3px solid black;
}

.profilePageButtonsParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border: 3px solid black;
  width: 100%;
}

.profilePageButtons {
  min-width: 210px;
  /* width: 80%; */
  font-weight: 500;
  background: -webkit-linear-gradient(#0e9eff, #d55de8, #fe9915) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  border: 3px solid white;
  border-radius: 7px;
  padding: 6px;
}

.profilePageButtons:hover {
  background: -webkit-linear-gradient(#0e9eff, #d55de8, #fe9915) !important;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;

  border: 3px solid; /* Set border width */
  border-image: linear-gradient(to right, #0e9eff, #d55de8, #fe9915) 1; /* Gradient from left to right */
  border-radius: 7px !important;
}


.profileHedaerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}