.register2PageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register2mainParent {
  min-height: 100vh;
  min-width: 100vw;
  background-color: beige;
}

.register2LoginPage {
  box-shadow: 4px 4px 10px;
  border-radius: 7px;
  padding: 0 !important;
  background-color: beige;
  width: 100%;
}

.register2PageHeaderContainer {
  height: 11vh;
  min-height: 70px;
  border-radius: 7px 7px 0 0;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}

.register2PageHeader {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.firstAndLastNameContainer {
  display: flex;
  justify-content: space-between;
}

.passwordConfirmPasswordContainer {
  display: flex;
  justify-content: space-between;
}

.emailAndMobileContainer {
  display: flex;
  justify-content: space-between;
}

.register2LoginBtn {
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.25rem;
  padding: 5px;
  width: 42%;
  font-weight: 550;
}

.register2LoginBtn:hover {
  box-shadow: 5px 5px 10px black;
  transition: 0.35s;
  transform: scale(1.07, 1.07);
}

.register2Pageform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 5%;
  padding: 10px;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .firstAndLastNameContainer,
  .passwordConfirmPasswordContainer,
  .emailAndMobileContainer {
    display: block;
  }
}

.registerPageGreetingsAndPageParent {
  width: 100%;
  display: flex;
  gap: 5%;
  justify-content: center;
  /* align-items: center; */
}

.register2LoginPageGreetingsContainer {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 5px 5px 10px black;
  background-color: beige;
  /* height: 50%; */
}

.register2LoginPageGreetingsContainer:hover {
  box-shadow: 7px 7px 10px black;
  transition: 0.35s;
  transform: scale(1.04, 1.04);
}

.register2LoginPageGreetingsHeaderParent {
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  text-align: center;
}

.register2LoginPageGreetingsContextParent {
  text-align: justify;
  padding: 5%;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

.register2LoginPageParent {
  display: flex;
  justify-content: center;
  width: 45%;
}

.dualInputForms {
  width: 49%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .registerPageGreetingsAndPageParent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3%;
  }
  .register2LoginPageGreetingsContainer {
    width: 100%;
    margin-bottom: 5%;
    height: 40%;
  }
  .register2LoginPageParent {
    width: 100%;
  }
  .register2PageRow {
    height: 225vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .registerPageGreetingsAndPageParent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3%;
  }
  .register2LoginPageGreetingsContainer {
    width: 100%;
    margin-bottom: 5%;
    height: 40%;
  }
  .register2LoginPageParent {
    width: 100%;
  }
  .register2PageRow {
    height: 225vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .registerPageGreetingsAndPageParent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3%;
  }
  .register2LoginPageGreetingsContainer {
    width: 100%;
    margin-bottom: 5%;
    height: 40%;
  }
  .register2LoginPageParent {
    width: 100%;
  }
  .register2PageRow {
    height: 225vh;
  }
}

@media (min-width: 250px) and (max-width: 575px) {
  .registerPageGreetingsAndPageParent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3%;
  }
  .register2LoginPageGreetingsContainer {
    width: 100%;
    margin-bottom: 5%;
    height: 35%;
  }
  .register2LoginPageParent {
    width: 100%;
  }
  .register2PageRow {
    height: 225vh;
  }

  .dualInputForms {
    width: 100%;
    display: block;
  }
}

/* Keyframes */

/* Keyframes for register2LoginPage */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for register2LoginPageGreetingsContainer */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.register2LoginPage {
  animation: slideIn 1s ease-out forwards;
  animation-fill-mode: forwards;
  transform: none;
}

.register2LoginPageGreetingsContainer {
  animation: fadeIn 1.5s ease-in forwards;
}

.register2LoginPage:hover {
  box-shadow: 7px 7px 10px black;
  transition: 0.35s ease-in-out;
  transform: scale(1.04, 1.04) !important;
}
