.register2PageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register2mainParent {
  min-height: 100vh;
  min-width: 100vw;
}

.register2LoginPage {
  box-shadow: 4px 4px 10px;
  border-radius: 7px;
  min-width: 290px;
  padding: 0 !important;
  max-width: 500px;
  background-color: white;
}

.register2PageHeaderContainer {
  height: 11vh;
  min-height: 70px;
  border-radius: 7px 7px 0 0;
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}

.register2PageHeader {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.firstAndLastNameContainer {
  display: flex;
  justify-content: space-between;
}

.passwordConfirmPasswordContainer {
  display: flex;
  justify-content: space-between;
}

.emailAndMobileContainer {
  display: flex;
  justify-content: space-between;
}

.register2LoginBtn {
  background-image: linear-gradient(
    to right,
    #0e9eff,
    #d55de8,
    #fe9915
  ) !important;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.25rem;
  padding: 5px;
  width: 50%;
  font-weight: 550;
}

.register2LoginBtn:hover {
  box-shadow: 5px 5px 10px black;
  transition: 0.35s;
  transform: scale(1.04, 1.04);
}

.register2Pageform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 5%;
  padding: 10px;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .firstAndLastNameContainer,
  .passwordConfirmPasswordContainer,
  .emailAndMobileContainer {
    display: block;
  }
}
